@import "./resets", "./variables", url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



body {
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    color: $color-dark;
    background: $bg-color;
    @include flex(column);
}

.container {
    width: 80%;
    margin: 2em auto;
    text-align: center;

    .img {
        width: 200px;
    }

    .search-bar {
        background: $color-light;
        width: min(80%, 800px);
        height: 60px;
        padding-left: .8em;
        border-radius: 50px;
        @include flex(end);
        box-shadow: $shadow;
        margin: 0 auto 2em auto;
        
        .form {
            @include flex(center);
            height: 100%;
            width: 100%;

            .custom-select {
                flex-grow: 2;
                display: relative;


                .select-emotion {
                    width: 100%;
                    padding: .5em;
                    background: $color-light;
                    border: none;
                    font-weight: 500;
                    font-size: 1em;
                }
            }

            .search-btn {
    
                width: 100px;
                height: 100%;
                border-top-right-radius: 50px;
                border-bottom-right-radius: 50px;
                background-color: $color-light-accent;
                border: none;
                font-size: 1.5em;

                &:hover {
                    font-size: 2em;
                }
            }
            
        }
    }

    .thumbnails {
        @include flex(center);
        flex-wrap: wrap;
        gap: 1em;

        .thumbnail {
            width: 200px;
            border-radius: 5px;
        }
    }

    .modal-container {
        @include flex(center);

        .modal {
            position: fixed;
            top: 50%;
            transform: translateY(-50%);
            background: $color-dark;
            width: 520px;
            height: 620px;
            padding: 2em;
            border-radius: 8px;   
    
            .close-btn {
                float: right;
                width: 40px;
                height: 40px;
                margin: .5em;
                padding: .5em;
                border-radius: 50%;
                border: none;
                
            }
    
            .modal-inner {
                height: 75%;
                width: 100%;
                @include flex(center);
                overflow: hidden;
            }

            .modal-img {
                width: 400px;
            }
        }
    }
    .hidden {
        display: none;
    }
}
.footer {
    width: 100%;
    text-align: center;
    padding: 1em;
}